<div *ngIf="isLoading === false" class="">

    <div class="table-responsive">
        <!-- All the trips -->
        <table class="table" style="width:100%">
            <tr>
                <th>Community Name</th>
                <th>Number of Members</th>
                <th><--></th>
            </tr>
            <tr *ngFor="let key of (this.communities | keys)">
                <th><a [routerLink]="['../', key, 'fishers']">{{key}}</a></th>
                <th>{{this.communities[key]}}</th>
                <th>-_-</th>
            </tr>
        </table>
    </div>
</div>

<div *ngIf="isLoading === true" class="text-center">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>
