<div class="cs-spacer"></div>

<h2 *ngIf="error">ERROR</h2>

<div *ngIf="isLoading" class="text-center">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>

<table *ngIf="!isLoading" class="table-responsive table">
    <tr>
        <th>Name</th>
        <th>{{fisher.FirstName}}</th>
    </tr>
    <tr>
        <th>Surname</th>
        <th>{{fisher.LastName}}</th>
    </tr>
    <tr>
        <th>Cellphone Number</th>
        <th>{{fisher.contact_mobile_num__c}}</th>
    </tr>

    <tr>
        <th>Community</th>
        <th>{{fisher.primary_community__c}}</th>
    </tr>
</table>
