.hover-div:hover {
    @extend .hover
}

body {
    background: #FFFFFF;
}

h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font: bold 100px/1 Helvetica, Verdana, sans-serif;
}

p {
    color: #FFFFFF;
    font: bold 20px/1 Helvetica, Verdana, sans-serif;
}

.hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.main-banner {
    background: url('../../../assets/images/fishing_boat.jpg') center no-repeat;
    background-size: cover;

    position: relative;
    min-height: 500px;
}

.vc {
    margin-top: 17vh;
}

.max-width {
    width: 100%;
}

.console {
    margin-top: 50px;

    color: #93a1a1;
    background-color: #002b36;
    font-family: Monaco,Menlo,"Ubuntu Mono",Consolas,source-code-pro,monospace;
    font-size: 14px;
    max-height: 100vh;
}
