<div class="bgContainer-home">
    <div>
        <div class="jumbotron text-center main-banner">
            <div class="container hover-div">
                <h1 class="vc">
                    Abalobi Dashboard <fa name="tint"></fa>
                </h1>
                <p class="white-text">An overview of the Abalobi systems.</p>
            </div>

            <div class="container panel-container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0</div>
                                        <div>New Messages</div>
                                    </div>
                                </div>
                            </div>
                            <a routerLink="/tools/messaging">
                                <div class="panel-footer">
                                    <span class="pull-left">View Messages</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-clipboard fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">

                                        <div *ngIf="!registrations" class="loader"></div>

                                        <div *ngIf="registrations">
                                            <div class="huge">{{calc_new_registrations}}</div>
                                            <div>New Registrations</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a routerLink="/tools/registrations">
                                <div class="panel-footer">
                                    <span class="pull-left">View Registrations</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-exclamation-triangle fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0</div>
                                        <div>Validation Warnings</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View on Heroku</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-times-circle fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">13</div>
                                        <div>Failed Jobs</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View on OpenFn</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <!-- Buttons -->
            <div class="row max-width">
                <div class="col-md-6">
                    <button class="max-width btn btn-primary btn-block" (click)="downloadFisherForms()"><fa name="download"></fa>Download Fisher Forms</button>
                </div>
                <div class="col-md-6">
                    <button class="max-width btn btn-danger btn-block" (click)="clearConsole()">Clear Info</button>
                </div>
            </div>

            <!-- Console -->
            <pre class="console max-width">
        {{consoleText}}
    </pre>
        </div>
        <h1></h1>


    </div>
</div>





