/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*============================================================================
    Color variables
 ============================================================================*/

    $ASPHALT: #34495e;
    $LIGHTGREEN: #16a085;
    $roboto: 'Roboto', sans-serif;


/*============================================================================
    Universal Styles
 ============================================================================*/
body{
    //background-color: $ASPHALT;
    //background-color: $LIGHTGREEN;
}

body, h1, h2, h3, h4, h5, h6, p{
    font-family: $roboto;
}


.nav-padder{
    margin-top: 50px;
    position: relative;
    bottom: 0;
}

.white-text{
    color: white;
}

.magicButton{
    cursor: pointer;
}
.cs-spacer{
    height: 20px;
}

/*============================================================================
    Cards
 ============================================================================*/

.card {
    background: #fff;
    border-radius: 2px;
    //display: inline-block;
    //height: 400px;
    //margin: 1rem;
    //position: relative;
    //width: 300px;
}
.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    &:hover{
        //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.vertical-center {
    margin-top: 35vh;
}

//.card-1 {
//    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
//}
//
//.card-1:hover {
//    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//}
//
//.card-2 {
//    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
//}
//
//.card-3 {
//
//}
//
//.card-4 {
//    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//}
//
//.card-5 {
//    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
//}

// SPINNER
$offset: 187;
$duration: 1.4s;

.spinner {
    animation: rotator $duration linear infinite;
}

@keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

.path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
        dash $duration ease-in-out infinite,
        colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
    0% { stroke: #4285F4; }
    25% { stroke: #DE3E35; }
    50% { stroke: #F7C223; }
    75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
}

@keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
        stroke-dashoffset: $offset/4;
        transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: $offset;
        transform:rotate(450deg);
    }
}

/*============================================================================
    Imports
 ============================================================================*/

@import "admin_theme";
