<div>
    <h2>Date Filter:</h2>
</div>

<div>
    From Date:
</div>
<div style="border: 1px solid black; width: 100%">
    Add datepicker
</div>

<div>
    To Date:
</div>
<div style="border: 1px solid black; width: 100%">
    Add datepicker
</div>

<div>
    <h3>Filters:</h3>

    <div class="checkbox">
        <input type="checkbox">
        Hide Cancelled Trips
    </div>
    <div class="checkbox">
        <input type="checkbox">
        Hide Successful Trips
    </div>
    <div class="checkbox">
        <input type="checkbox">
        Hide Trip with no Catches
    </div>
</div>

<div>
    <!-- All the trips -->
    <table style="width:100%">
        <tr>
            <th>Date</th>
            <th>Trip ID</th>
            <th>Catch Exists</th>
            <th>Community</th>
            <th>Main Fisher</th>
            <th>Trip Exists</th>
            <th>Trip Type</th>
        </tr>
        <tr *ngFor="let trip of this.trips">
            <th>Date</th>
            <th>Trip ID</th>
            <th>Catch Exists</th>
            <th>Community</th>
            <th>Main Fisher</th>
            <th>Trip Exists</th>
            <th>Trip Type</th>
        </tr>
    </table>
</div>
