<div class="container">

    <div class="spacer"></div>

    <form class="row text-center form-control">
        <div class="col-md-10">
            <!-- TODO: Make this a typeahead search box -->
            <input class="form-control" type="search" placeholder="Search for fisher by name">
        </div>
        <div class="col-md-2">
            <!-- TODO: Add the selected fisher to the sender list -->
            <button class="btn btn-default" style="width: 95%;">Add</button>
        </div>
    </form>

    <div class="card card-1">
        <!-- TODO: Loop through all added fishers and display their names. Make inline list -->
        <div *ngFor="">
            <div class="sender-card">
                Fisher Name Here
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="text-center card card-1" >
        <!-- The SMS message -->
        <textarea class="" placeholder="Insert message text here" style="width: 95%; min-height: 350px;">

        </textarea>
    </div>

</div>
