.spacer {
    padding: 10px 0px 10px 0px;
}

.margined {
    margin: 8px 8px 8px 8px;
}

.bgContainer-tools{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    //background-color: #002b36;
    z-index: 1;
    height: auto;
    overflow: auto;
}
