<div class="bgContainer-tools">
    <div class="bgContainer-relative">
        <div class="container">
            <h1 class="text-center">Tools</h1>
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" routerLinkActive="active"><a class="magicButton" routerLink="messaging">Messaging</a></li>
                <li role="presentation" routerLinkActive="active"><a class="magicButton" routerLink="registrations">Registrations</a></li>
                <li role="presentation" routerLinkActive="active"><a class="magicButton" routerLink="overview">Overview</a></li>
                <li role="presentation" routerLinkActive="active"><a class="magicButton" routerLink="odk">ODK Publish Forms</a></li>
            </ul>

            <!--<li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="home">Home</a></li>-->


            <router-outlet>

            </router-outlet>
        </div>
    </div>
</div>
