$console-color: #002b36;

.console {
    margin-top: 50px;
    border: 0;
    color: #93a1a1;
    background-color: #002b36;
    font-family: Monaco,Menlo,"Ubuntu Mono",Consolas,source-code-pro,monospace;
    font-size: 14px;
    max-height: 100vh;
}
