.indicator {
    z-index: 99999;
    width: 15px;
    height: 15px;
    float: right;
    margin-left: 10px;
    border-radius: 50%;
}

.indicator.green {
    background-color: green;
}
.indicator.orange {
    background-color: orange;
}
.indicator.red {
    background-color: red;
}
.indicator.black {
    background-color: black;
}


.cs-column-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.spacer {
    padding: 5px 0px 5px 0px;
}

.fisher-view-nav {
    width: 100%!important;
}

.bgContainer-trips {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #002b36;
    z-index: 1;
    height: auto;
    overflow: auto;
    //min-height: 100vh;
}
