.cs-column-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.spacer {
    padding: 5px 0px 5px 0px;
}

.fisher-view-nav {
    width: 100%!important;
}

.bgContainer-trips {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #002b36;
    z-index: 1;
    height: auto;
    overflow: auto;
    //min-height: 100vh;
}
